# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
bigbagboogy.md
node_modules

# Dotenv file
.env

broadcast
.DS_Store